 body { 
    background-image: url("8457a1ecf6c0d0f.jpg");
    background-repeat: no-repeat;
   background-size: cover;
    
    }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
.navbar{
    box-shadow: 0px 0px 4px black;
}
#homeBtn{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#homeBtn:hover{
    background-color: #D3D3D3;
}
#savedArticles{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#savedArticles:hover{
    background-color: #D3D3D3;
}
.btn{
    background: red;
    box-shadow: 2px 2px 10px grey;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 5px;
    
}
.btn:hover{
    background-color:#b30000;
}
#firstText{
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 2px 2px 2px #D3D3D3;
}
.card{
    height: 100px;
    text-align: center;
}

textarea, input {
  display: block;
  width: 100%;
  
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
